*{
    padding: 0;
    margin: 0;
}

.contain{
background: rgb(78, 95, 243);
    background: linear-gradient(16deg, rgb(33, 91, 237) 21%, rgb(63, 123, 243) 87%);
height: 100vh;
}

.section{
    width: 50%;
    height: 100%;

}
